{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Beat me!</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="{% static 'css/aviso-privacidad_sty.css' %}">
</head>
<body>
	<main>
		<a href="/index/">Regresar</a>
		<h1>Política de Privacidad</h1>
    <p><strong>Última actualización:</strong> 29 de abril de 2024</p>
    <p>Esta Política de Privacidad describe nuestras políticas y procedimientos sobre la recopilación, uso y divulgación de su información cuando utiliza el Servicio y le informa sobre sus derechos de privacidad y cómo la ley lo protege.</p>
    <p>Utilizamos sus datos personales para proporcionar y mejorar el Servicio. Al utilizar el Servicio, usted acepta la recopilación y el uso de información de acuerdo con esta Política de Privacidad. Esta Política de Privacidad ha sido creada con la ayuda del Generador de Políticas de Privacidad Gratuitas.</p>

    <h2>Interpretación y Definiciones</h2>
    <h3>Interpretación</h3>
    <p>Las palabras cuya inicial está en mayúscula tienen significados definidos bajo las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de si aparecen en singular o en plural.</p>

    <h3>Definiciones</h3>
    <p>A los efectos de esta Política de Privacidad:</p>
    <ul>
        <li><strong>Cuenta</strong> significa una cuenta única creada para que usted acceda a nuestro Servicio o partes de nuestro Servicio.</li>
        <li><strong>Afiliado</strong> significa una entidad que controla, es controlada por o está bajo control común con una parte, donde "control" significa propiedad del 50% o más de las acciones, intereses patrimoniales u otros valores con derecho a voto para la elección de directores u otra autoridad administrativa.</li>
        <li><strong>Empresa</strong> (referida como "la Empresa", "Nosotros", "Nuestro" o "Nuestra" en este Acuerdo) se refiere a Beat me!.</li>
        <li><strong>Cookies</strong> son archivos pequeños que se colocan en su computadora, dispositivo móvil o cualquier otro dispositivo por un sitio web, que contienen los detalles de su historial de navegación en ese sitio web entre sus muchos usos.</li>
        <li><strong>País</strong> se refiere a: Colombia</li>
        <li><strong>Dispositivo</strong> significa cualquier dispositivo que pueda acceder al Servicio, como una computadora, un teléfono celular o una tableta digital.</li>
        <li><strong>Datos personales</strong> es cualquier información que se relacione con una persona física identificada o identificable.</li>
        <li><strong>Servicio</strong> se refiere al Sitio web.</li>
        <li><strong>Proveedor de Servicios</strong> significa cualquier persona natural o jurídica que procesa los datos en nombre de la Empresa.</li>
        <li><strong>Datos de Uso</strong> se refiere a datos recopilados automáticamente, ya sea generados por el uso del Servicio o por la infraestructura del Servicio en sí.</li>
        <li><strong>Sitio web</strong> se refiere a Beat me!, accesible desde <a href="https://smierl.github.io/ppi_dai_MIERs/">https://smierl.github.io/ppi_dai_MIERs/</a>.</li>
        <li><strong>Usted</strong> significa la persona que accede o utiliza el Servicio, o la empresa u otra entidad legal en nombre de la cual dicha persona accede o utiliza el Servicio, según corresponda.</li>
    </ul>
<h2>Recopilación y Uso de Sus Datos Personales</h2>
<h3>Tipos de Datos Recopilados</h3>
<p><strong>Datos Personales</strong></p>
<p>Mientras utiliza Nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación personal que se puede utilizar para contactarlo o identificarlo. La información de identificación personal puede incluir, entre otras cosas:</p>
<ul>
    <li>Dirección de correo electrónico</li>
    <li>Nombre y apellidos</li>
    <li>Datos de uso</li>
</ul>
<p><strong>Datos de Uso</strong></p>
<p>Los datos de uso se recopilan automáticamente al utilizar el Servicio.</p>
<p>Los datos de uso pueden incluir información como la dirección de Protocolo de Internet de su dispositivo (por ejemplo, dirección IP), tipo de navegador, versión del navegador, las páginas de nuestro Servicio que visita, la hora y la fecha de su visita, el tiempo que pasa en esas páginas, identificadores de dispositivos únicos y otros datos de diagnóstico.</p>
<p>Cuando accede al Servicio a través de un dispositivo móvil, podemos recopilar cierta información automáticamente, incluido, entre otros, el tipo de dispositivo móvil que utiliza, la identificación única de su dispositivo móvil, la dirección IP de su dispositivo móvil, su sistema operativo móvil, el tipo de navegador de Internet móvil que utiliza, identificadores de dispositivos únicos y otros datos de diagnóstico.</p>
<p>También podemos recopilar información que su navegador envía cada vez que visita nuestro Servicio o cuando accede al Servicio a través de un dispositivo móvil.</p>

<h3>Tecnologías de Seguimiento y Cookies</h3>
<p>Utilizamos Cookies y tecnologías de seguimiento similares para rastrear la actividad en nuestro Servicio y almacenar cierta información. Las tecnologías de seguimiento utilizadas son balizas, etiquetas y scripts para recopilar y rastrear información y para mejorar y analizar nuestro Servicio.</p>
<p>Las tecnologías que utilizamos pueden incluir:</p>
<ul>
    <li>Cookies o Cookies de Navegador. Una cookie es un pequeño archivo colocado en su dispositivo.</li>
    <li>Balizas web. Ciertas secciones de nuestro Servicio y nuestros correos electrónicos pueden contener pequeños archivos electrónicos conocidos como balizas web (también denominadas gifs transparentes, etiquetas de píxeles y gifs de píxeles únicos) que permiten a la Empresa, por ejemplo, contar usuarios que han visitado esas páginas o han abierto un correo electrónico y para otras estadísticas relacionadas con el sitio web.</li>
</ul>
<p>Las Cookies pueden ser "Persistentes" o "de Sesión". Las Cookies Persistentes permanecen en su computadora personal o dispositivo móvil cuando se desconecta, mientras que las Cookies de Sesión se eliminan tan pronto como cierra su navegador web.</p>

<h4>Utilizamos tanto Cookies de Sesión como Cookies Persistentes con los siguientes fines:</h4>
<ul>
    <li>Cookies Necesarias / Esenciales</li>
    <li>Cookies de Aceptación de Política de Cookies / Aviso</li>
    <li>Cookies de Funcionalidad</li>
</ul>

<p>Para obtener más información sobre las cookies que utilizamos y sus opciones con respecto a las cookies, visite nuestra Política de Cookies o la sección de Cookies de nuestra Política de Privacidad.</p>

<h3>Uso de Sus Datos Personales</h3>
<p>La Empresa puede utilizar Datos Personales para los siguientes fines:</p>
<ul>
    <li>Para proporcionar y mantener nuestro Servicio, incluido el monitoreo del uso de nuestro Servicio.</li>
    <li>Para administrar su Cuenta: para administrar su registro como usuario del Servicio.</li>
    <li>Para la ejecución de un contrato: el desarrollo, cumplimiento y ejecución del contrato de compra de los productos, artículos o servicios que haya adquirido u otro contrato con Nosotros a través del Servicio.</li>
    <li>Para contactarlo: Para contactarlo por correo electrónico, llamadas telefónicas, SMS u otras formas equivalentes de comunicación electrónica.</li>
</ul>
<ul>
    <li>Para proporcionarle noticias, ofertas especiales e información general sobre otros bienes, servicios y eventos que ofrecemos y que son similares a los que ya ha adquirido o consultado, a menos que haya optado por no recibir dicha información.</li>
    <li>Para administrar sus solicitudes: Para atender y gestionar sus solicitudes hacia Nosotros.</li>
    <li>Para transferencias comerciales: Podemos usar su información para evaluar o realizar una fusión, desinversión, reestructuración, reorganización, disolución u otra venta o transferencia de la totalidad o parte de nuestros activos.</li>
    <li>Para otros fines: Podemos usar su información para otros fines, como análisis de datos, identificación de tendencias de uso, determinación de la efectividad de nuestras campañas promocionales y para evaluar y mejorar nuestro Servicio, productos, servicios, marketing y su experiencia.</li>
</ul>

<p>Podemos compartir su información personal en las siguientes situaciones:</p>
<ul>
    <li>Con Proveedores de Servicios: Podemos compartir su información personal con Proveedores de Servicios para monitorear y analizar el uso de nuestro Servicio, para contactarlo.</li>
    <li>Para transferencias comerciales: Podemos compartir o transferir su información personal en relación con, o durante las negociaciones de, cualquier fusión, venta de activos de la Empresa, financiamiento o adquisición de la totalidad o parte de nuestro negocio a otra empresa.</li>
    <li>Con Afiliados: Podemos compartir su información con Nuestros afiliados.</li>
    <li>Con socios comerciales: Podemos compartir su información con Nuestros socios comerciales para ofrecerle ciertos productos, servicios o promociones.</li>
</ul>

<p><strong>Retención de Sus Datos Personales</strong></p>
<p>La Empresa retendrá sus Datos Personales solo durante el tiempo que sea necesario para los fines establecidos en esta Política de Privacidad.</p>

<p><strong>Transferencia de Sus Datos Personales</strong></p>
<p>Su información, incluidos los Datos Personales, se procesa en las oficinas operativas de la Empresa y en cualquier otro lugar donde se encuentren las partes involucradas en el procesamiento.</p>

<p><strong>Eliminar Sus Datos Personales</strong></p>
<p>Usted tiene derecho a eliminar o solicitar que ayudemos a eliminar los Datos Personales que hemos recopilado sobre usted.</p>
<p>Nuestro Servicio puede brindarle la capacidad de eliminar cierta información sobre usted desde dentro del Servicio.</p>
<p>Puede actualizar, enmendar o eliminar su información en cualquier momento iniciando sesión en su Cuenta, si la tiene, y visitando la sección de configuración de la cuenta que le permite administrar su información personal.</p>
<p>Sin embargo, tenga en cuenta que es posible que necesitemos retener cierta información cuando tengamos una obligación legal o base legal para hacerlo.</p>

<p><strong>Divulgación de Sus Datos Personales</strong></p>
<p><strong>Transacciones Comerciales</strong></p>
<p>Si la Empresa está involucrada en una fusión, adquisición o venta de activos, Sus Datos Personales pueden ser transferidos.</p>
<p><strong>Aplicación de la Ley</strong></p>
<p>En ciertas circunstancias, la Empresa puede estar obligada a divulgar Sus Datos Personales si así lo exige la ley o en respuesta a solicitudes válidas de autoridades públicas.</p>
<p><strong>Otros Requisitos Legales</strong></p>
<p>La Empresa puede divulgar Sus Datos Personales de buena fe creyendo que tal acción es necesaria para cumplir con una obligación legal, proteger y defender los derechos o bienes de la Empresa, prevenir o investigar posibles irregularidades en relación con el Servicio, proteger la seguridad personal de los usuarios del Servicio o del público, o protegerse contra la responsabilidad legal.</p>

<p><strong>Seguridad de Sus Datos Personales</strong></p>
<p>La seguridad de Sus Datos Personales es importante para Nosotros, pero recuerde que ningún método de transmisión por Internet o método de almacenamiento electrónico es 100% seguro.</p>

<p><strong>Privacidad de los Niños</strong></p>
<p>Nuestro Servicio no está dirigido a personas menores de 13 años.</p>

<p><strong>Enlaces a Otros Sitios Web</strong></p>
<p>Nuestro Servicio puede contener enlaces a otros sitios web que no son operados por nosotros.</p>

<p><strong>Cambios a esta Política de Privacidad</strong></p>
<p>Podemos actualizar Nuestra Política de Privacidad de vez en cuando.</p>

<p><strong>Contáctenos</strong></p>
<p>Si tiene alguna pregunta sobre esta Política de Privacidad, puede contactarnos:</p>
<p>Por correo electrónico: smier@unal.edu.co</p>
	</main>
</body>
</html>