{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Beat me</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/imc_sty.css' %}">
    </head>
    <body>
    <section>
        <header>
            <a href="/index/" class= "logo">Beat me!</a>
            <ul class="navbar">
                <li><a href="/mapa/">Ejercicio cercano</ax/li>
                <li><a href="/ejercicios/">Ejercicios</a></li>
            </ul>
        </header>

        <h1 class="tituloCalculadora">Calculadora de IMC e ingesta calorica recomendada</h1>
        {% if display_value == 0 %}
            <form method="post" id="calculator-form" >
        {% else %}
            <form method="post" id="calculator-form" style="display: none ;">
        {% endif %}
        {% csrf_token %}

        <label for="weight">Peso (kg):</label>
        <input type="number" id="weight" name="weight" required>
                    
        <label for="height">Altura (cm):</label>
        <input type="number" id="height" name="height" required>
                    
        <label for="age">Edad (años):</label>
        <input type="number" id="age" name="age" required>
                    
        <label for="activity-level">Nivel de Actividad:</label>
        <select id="activity-level" name="activity-level">
        
        <option value="sedentario">Sedentario</option>
        <option value="ligero">Ligero</option>
        <option value="moderado">Moderado</option>
        <option value="intenso">Intenso</option>

        </select>
                    
        <input type="submit" value="Calcular">
        </form>
        {% if display_value == 0 %}
        <div class="result" id="result" style="display:none;">
        {% else %}
        <div class="result" id="result" style="display:block;">
        {% endif %}
        <h2>Resultados</h2>
        <p><strong>IMC:</strong> <span id="imc_re">{{imc_re}}</span></p>
        <p><strong>Ingesta Calórica Recomendada:</strong> <span id="calorias_re">{{calorias_re}}</span> kcal/día</p>
        </div>
    </section>
    </body>
</html>
