{% load static %}
<!DOCTYPE htmL>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index_sty.css' %}">
    <title>Beat me!</title>
</head>
<body>
    <section>
        <div class="circulo"></div>
        <header>
            <a href="/index/" class= "logo">Beat me!</a>
            <ul class="navbar">
                <li><a href="/imc/">Calculadora IMC</a></li>
                <li><a href="/mapa/">Ejercicio cercano</ax/li>
                <li><a href="/ejercicios/">Ejercicios</a></li>
            </ul>
        </header>

        <div class="contenido">
            <div class= "tituloBox">
                <h2>Libera<br></h2>
                <h2>tu<span>potencial</span></h2>
                <p>Vence a la competencia</p>
                <a href="/logIn/">Acceder</a>
            </div>
        </div>
        <div class= "copyright">
            <p>&copy; SantiCode - 2024</p>
        </div>
        <ul class="redesSociales">
            <li><a href="https://github.com/smierl/ppi_dai_MIERs"><ion-icon name="logo-github"></ion-icon></a></li>
            <li><a href="https://www.linkedin.com/in/12345santi"><ion-icon name="logo-linkedin"></ion-icon></a></li>
        </ul>
        
    </section>
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>


