{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Beat me</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/cambio_sty.css' %}">
    </head>
    <body>
    <section>
        <header>
            <a href="/index/" class= "logo">Beat me!</a>
        </header>

        <h2>Contraseña cambiada con éxito</h2>
        <p>Tu contraseña se ha cambiado correctamente.</p>
        <a href="/entrada/">Volver al inicio</a>
        
    </section>
    </body>
</html> 