{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Beat me</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/entrada_sty.css' %}">
    </head>
    <body>
        <section>
            <header>
                <a href="/entrada/" class="logo">Beat me!</a>
                <ul class="navbar">
                    <li><a href="/entrada/">Agregar Ejercicio</a></li>
                    <li><a href="/password_change/">Cambio contraseña</a></li>
                </ul>
            </header>

            <img src="data:image/png;base64,{{ graphic }}" alt="Gráfica de Ejercicios">
            
            {% if correlacion is not None %}
                <h3>Resultados del Análisis:</h3>
                <p>Correlación entre peso y repeticiones: {{ correlacion }}</p>
                <p>Pendiente de la regresión: {{ slope }}</p>
                <p>Intercepto de la regresión: {{ intercept }}</p>
                <p>R²: {{ r_value|floatformat:2 }}</p>
            {% else %}
                <p>No hay datos suficientes para realizar el análisis.</p>
            {% endif %}
        </section>
    </body>
</html>
